.app{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
  font-size: 16px;
}
.nav{
  flex-basis: 100%;
}
.playlists{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.playlists{
  height: 88%;
}
.slider{
  padding: 10px;
}
.form-group{
  margin-bottom: 0;
}